.App {
  display: flex;
  flex: 1;
  height: 100%;

  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 8px;
  border-bottom: var(--border-default);
  width: calc(100vw - 350px);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  max-width: calc(100vw - 350px);
}

.preview {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  border: 1px solid black;
  padding: 16px;
}

.sidebar-container {
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
}

.sidebar {
  display: flex;
  flex: 1;
  border: 1px solid black;
  background: rgb(30, 30, 34);
  height: 100%;
  width: 100%;
}

@media (max-width: 850px) {
  .main {
    max-width: 100%;
  }

  .sidebar-container {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .sidebar,
  .header {
    width: 100%;
  }

  .sidebar {
    height: auto;
    margin: 0 16px 16px 16px;
  }
}
