.App {
  display: flex;
  flex: 1;
  padding: 16px;
  height: 100%;

  flex-flow: wrap;
  align-items: stretch;
  overflow: auto;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: calc(100vw - 376px);
}

.preview {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  border: 1px solid black;
  padding: 16px;
}

.sidebar-container {
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  padding-left: 16px;
}

.sidebar {
  display: flex;
  flex: 1;
  border: 1px solid black;
  background: rgb(30, 30, 34);
  height: 100%;
}

@media (max-width: 850px) {
  .main {
    max-width: 100%;
  }

  .sidebar-container {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }
}