/**
 * Module for hashing the play keyframe for the timeline
 */

@keyframes play {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes play2 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
