:root {
  --color-background: rgb(25, 25, 25);
  --color-text-primary: rgb(245, 245, 245);

  --color-black: rgb(10, 10, 10);
  --color-white: rgb(245, 245, 245);

  --color-grey: rgb(173, 173, 173);
  --color-disabled: rgb(100, 100, 100);

  --color-red: rgb(230, 75, 61);
  --color-blue: rgb(0, 127, 227);
  --color-green: rgb(44, 148, 24);

  --border-default: 1px solid black;
  --color-background-lighter: rgb(34, 34, 34);

  --color-widget: rgb(30, 30, 34);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: var(--color-text-primary);
  background: var(--color-background);
  
  position: fixed;
  height: 100%;
  width: 100%;
}

a {
  color: var(--color-white);
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5em;
}

/** Material styling */
button.MuiIconButton-root {
  color: var(--color-grey);
}

button.MuiIconButton-root.Mui-disabled {
  color: var(--color-disabled);
  cursor: not-allowed;
}

.MuiButton-root.button {
  line-height: 1em;
  padding: 6px 8px;
  color: var(--color-grey);
  border: var(--border-default);
  text-transform: none;
}

.MuiButton-root.button-cta {
  line-height: 1em;
  padding: 16px;
  background: var(--color-red);
  background: linear-gradient(
    180deg,
    var(--color-red) 0%,
    rgb(230, 86, 61) 78%,
    rgb(230, 90, 50) 100%);
  color: var(--color-black);
  border: var(--border-default);
  text-transform: none;
  font-size: 20px;
  font-weight: 100;
  transition: 0.5s;
  border-radius: 24px;
}

.MuiButton-root.button-cta:hover {
  background: var(--color-red);
  background: linear-gradient(
    180deg,
    var(--color-red) 0%,
    rgb(230, 86, 61) 78%,
    rgb(230, 90, 50) 100%);
  filter: brightness(80%);
}

.MuiInputBase-root.MuiOutlinedInput-root {
  color: var(--color-white);
  background: var(--color-background);

  .MuiInputBase-input, .MuiInputBase-input.MuiAutocomplete-input {
    color: var(--color-white);
    padding: 6px 10px;
    font-size: 14px;
  }

  textarea.MuiInputBase-input {
    padding: 0;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-black);
  }
}

.MuiInputBase-root.MuiOutlinedInput-root.monospace {
  font-family: monospace;

  textarea {
    white-space: pre;
    overflow: auto;

    /* See: https://github.com/mui/material-ui/issues/41490 */
    overflow-x: auto !important;
    padding-bottom: 16px;
  }
}

.MuiFormLabel-root.MuiInputLabel-root {
  color: var(--color-grey);
}

.MuiTabs-root {
  background: var(--color-background);
  border-bottom: var(--border-default);
}

.MuiToggleButtonGroup-root {
  .MuiToggleButton-root {
    color: var(--color-grey);
    border: var(--border-default);
  }

  .MuiToggleButton-root.Mui-selected {
    background: var(--color-background-lighter);
    color: var(--color-white);
    border-bottom: 1px solid var(--color-red);
  }

  .MuiSvgIcon-root {
    width: 0.8em;
    height: 0.8em;
  }
}

.MuiButtonBase-root.MuiTab-root {
  color: var(--color-grey);
  font-size: 12px;
  text-transform: none;
  min-width: 70px;
  padding: 4px 8px;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: var(--color-white);
}

span.MuiTabs-indicator {
  background: var(--color-red);
}

.MuiListItem-root {
  border: var(--border-default);
  border-bottom: none;
  border-radius: 2px;
  background: var(--color-background);
}

.MuiListItem-root:hover {
  background: var(--color-background-lighter);
}

.MuiListItem-root:last-of-type {
  border-bottom: var(--border-default);
}

.MuiListItem-root.selected {
  background: var(--color-background-lighter);
  border-left: 2px solid var(--color-red);
}

.MuiListItemButton-root {
  .MuiListItemIcon-root {
    min-width: initial;
    margin-right: 16px;
  }

  .MuiListItemText-root {
    font-size: 14px;
  }

  .MuiButtonBase-root .MuiSvgIcon-root {
    width: 0.8em;
    height: 0.8em;
  }
}

.MuiChip-root.MuiChip-colorDefault {
  color: var(--color-grey);
  background: var(--color-black);
}

/** CodeMirror **/
.cm-editor {
  background: var(--color-background);
  border: var(--border-default);
  border-radius: 4px;
  font-size: 14px;
}

.cm-theme-dark {
  display: flex;
  flex: 1;
}

/** Form styling **/

/* TODO: Make this a mixin */
.input-row {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 14px;
  margin-bottom: 16px;

  label {
    margin-right: 8px;
    padding-bottom: 1px;
    color: var(--color-grey);
  }

  .MuiTextField-root {
    display: flex;
    flex: 1;
  }

  .MuiInputBase-root {
    display: flex;
    flex: 1;
    font-size: 14px;

    .MuiInputBase-input {
      font-size: 14px;
    }
  }

  .small {
    min-width: 90px;
    flex: 0;
  }

  .MuiTypography-root {
    color: var(--color-white);
    font-size: 14px;
  }
}

.input-row:last-of-type {
  margin-bottom: 0;
}