.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
  margin-top: 128px;
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  font-size: 4rem;
  line-height: 4rem;

  color: transparent;
  background: linear-gradient(
    to right,
    var(--color-red) 20%,
    var(--color-blue) 50%,
    var(--color-green) 80%
  );
  background-size: auto auto;
  background-size: 200% auto;
  background-clip: text;
  animation: text-color-shift 2s linear alternate infinite;
}

@keyframes text-color-shift {
  100% {
    background-position: 100% center;
  }
}

.info {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  margin: 48px 0;
  justify-content: space-between;
  gap: 56px;
}

.description {
  display: flex;
  text-align: flex-start;
  max-width: 500px;

  line-height: 1.5em;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-grey);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 850px) {
  .hero {
    align-items: flex-start;
    margin: 16px;
  }

  .info {
    flex-direction: column;
    gap: 24px;
    margin: 16px 0;
    align-items: stretch;
    justify-content: flex-start;
  }
}
