.wrapper {
  width: 250px;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  background: var(--color-background-lighter);
  border: var(--border-default);
  border-radius: 4px;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 0px;
  padding: 0;
  margin: -8px;
  border: none;
  opacity: 0;
}

.preview {
  width: 250px;
  height: 200px;
  background: var(--color-background-lighter);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.options {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px 4px 8px;
}

.options > div {
  margin: 0 4px;
}

.select {
  display: flex;
  flex: 1;
}

.name {
  padding: 8px;
}

.name a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.tags {
  display: flex;
  gap: 8px;
}