.wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding-bottom: 16px;
}

.panel {
  display: flex;
  flex: 1;
  align-items: stretch;

  padding-left: 16px;
  padding-right: 16px;
  overflow-y: auto;
}