.wrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 24px;
}

.header, .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  justify-content: space-between;
  margin-bottom: 16px;
}

.row {
  gap: 8px;
}