.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 8px;
  gap: 8px;

  &.sticky {
    position: sticky;
    top: 0;
    background: var(--color-background-lighter);
    z-index: 1000;
  }

  &.bordered {
    border-bottom: var(--border-default);
  }
}

.headerTitleRow {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.headerContentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 0 24px 8px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px 24px;

  &.sticky {
    position: sticky;
    bottom: 0;
    background: var(--color-background-lighter);
    z-index: 1000;
  }

  &.bordered {
    border-top: var(--border-default);
  }
}

.footerActions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.footerActionsLeft {
  display: flex;
  flex: 1;
}
